# Ignore Mac system files
.DS_Store

# Ignore VS Code configuration
.vscode/

# Ignore Java compilation artifacts
target/
*.class
*.jar

# Key point: Ignore Docker database data files
pgdata/

# Ignore Maven wrappers
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmdmysql_data/
ai_engine
mysql_data/
